* {
	box-sizing: border-box;
  }

head {
	background-color: darkgreen;
}

body {
	/*margin: 0px 10%;*/
	background-color: rgb(140, 178, 154);
}

.heading {
	text-align: center;
	margin: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
	margin: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	font-size:6vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(238, 253, 233);
	text-shadow: 1px 1px 2px darkgreen;
}

h2 {
	font-size: 4vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(238, 253, 233);
	text-shadow: 1px 1px 2px darkgreen;
}

img {
	width: 80%;
	height: auto;
}

a:link, a:visited {
	text-decoration: none;
	background-color: rgb(48,176,82);
	color: white;
	font-size: 2.75vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	width: 80%;
	height: auto;
	padding: 8px 8px;
	display: inline-block;
	margin: 5%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}

a:hover {
	background-color: rgb(32,135,60);
	box-shadow: 1px 1px 2px black;
}

a:active {
	box-shadow: none;
}